<script type="text/javascript">
	$(document).ready(function(){
        $('.slider').slider();
    });
</script>
<div class="slider" slider>
	<ul class="slides">
		<li>
			<img src="http://s17.postimg.org/yg03fi6lr/fitness1.jpg" alt="REALLY COOL PHOTO">
			<div class="caption right-align">
				<h1 class="teal-text text-darken-4">i.f<span id="itness">itness</span>ART</h1>
				<h3 class="teal-text">Where teachers and students connect directly</h3>
			</div>
		</li>
		<li>
			<img src="http://s18.postimg.org/7lwqeqemx/fitness2.jpg" alt="REALLY COOL PHOTO">
			<div class="caption right-align">
				<h2 class="teal-text text-accent-4">coming together for live streaming classes</h2>
			</div>
		</li>
		<li>
			<img src="http://s4.postimg.org/g15a64ekt/fitness8.jpg" alt="REALLY COOL PHOTO">
			<div class="caption right-align">
				<h2 class="teal-text text-lighten-1">providing you with interactive workouts</h2>
			</div>
		</li>
		<li>
			<img class="z-depth-2" src="http://s15.postimg.org/9o0zf1dnf/fitness3.jpg" alt="REALLY COOL PHOTO">
			<div class="caption left-align">
				<h2 class="teal-text text-accent-4">without having to make it to the gym</h2>
			</div>
		</li>
	</ul>
</div>
<div class="container">
	<div class="row" id="loginBtns">
		<a href='#/students' class="col l4 offset-l3"><button class="waves-effect waves-light btn-large orange lighten-1 z-depth-3">Students</button></a>
		<a href="#/instructor"><button class="waves-effect waves-light btn-large orange lighten-1 z-depth-3">Instructors</button></a>
	</div>
</div>