<div class="container">
		<div class="row">
			<h2 id="title" class="offset-l3">Welcome <span>meanCHANNELS</span> Instructor!</h2>
			<div class="col l3">
				<img src="http://s1.postimg.org/zcac0vrun/davith.jpg" alt="Photo" class="circle responsive-img z-depth-3">
			</div>
			<div id="about" class="col l8 offset-l1 grey lighten-4 z-depth-2">
				<p class="flow-text"><span>Name:</span> Davith</p>
				<p class="flow-text"><span>Current City:</span> Los Angeles</p>
				<p class="flow-text"><span>Teaching Style:</span>Bootcamp</p>
				<blockquote>"I like to kick people's asses into shape! What can I say, I'm an ass man" -Davith</blockquote>
			</div>
		</div>
		<div class="row">
			<div id="classInfo" class="col l8 grey lighten-4 z-depth-2">
				<h4>Classes:</h4>
				<div class="instClass white z-depth-1">
					<h5>Bootcamp 101</h5>
					<p class="time">Monday January 4, 2016 @ 11:30 am</p>
					<p class="desc">Join the booty busting, sweat provoking, feel good time of ripping your weak puny muscles into shreads, and rebuilding them into mountains of sexy, bulging muscles! Buns and thighs! Buns and thighs!</p>
					<p>Class Size: 20</p>
				</div>
				<div class="instClass white z-depth-1">
					<h5>Bootcamp 201</h5>
					<p class="time">Monday January 4, 2016 @ 4:30 pm</p>
					<p class="desc">101 too easy!? Ready to step it up 10 "notches"? Good cause its about to burn! Prepare for the massive leap to the next level - everything from your throat to your ass!</p>
					<p>Class Size: 20</p>
				</div>
				<div class="instClass white z-depth-1">
					<h5>Barf Bootcamp</h5>
					<p class="time">Monday January 4, 2016 @ 7:30 pm</p>
					<p class="desc">Are you a badass like me!? We will see if you have what it takes to be on my level! If this doesn't make you toss your cookies nothing will (except maybe thinking of how you were conceived)!</p>
					<p>Class Size: 20</p>
				</div>
				<div class="instClass white z-depth-1">
					<h5>Bootcamp 101</h5>
					<p class="time">Tuesday January 5, 2016 @ 11:30 am</p>
					<p class="desc">Join the booty busting, sweat provoking, feel good time of ripping your weak puny muscles into shreads, and rebuilding them into mountains of sexy, bulging muscles! Buns and thighs! Buns and thighs!</p>
					<p>Class Size: 20</p>
				</div>
			</div>
			<div id="nextClassPortal" class="col l3 offset-l1 z-depth-1 hoverable">
				<h4>Next Class</h4>
				<p>Mon. Jan 4 @ 11:30am <span>Bootcamp 101</span></p>
			<a href="#/studentVideo"><button class="btn waves-effect waves-light orange lighten-1">Go to Class Portal</button></a>
			</div>
		</div>
	</div>
