<div class="container">	
	<div class="row">
		<div id="login" class="col-md-5">
			<h3>Student Login</h3>
		    <form>
		      <div class="row">
		        <div class="col-md-10 ">
		          <label for="email">Email</label>
		          <input id="email" type="email" class="form-control">
		        </div>
		      </div>
		      <div class="row">
		        <div class="input-field col-md-10">
		          <label for="password">Password</label>
		          <input id="password" type="password" class="form-control">
		        </div>
		      </div>
		      <button class="btn waves-effect waves-light #90a4ae blue-grey lighten-2" type="submit" name="action">Submit</button>
		    </form>
		</div>
		<div id="apply" class="col-md-6">
			<form>
				<h3>Register for Classes!</h3>
				<p><input type="text" ng-model='student.firstName' class="form-control" placeholder='First Name'></p>	
				<p><input type="text" ng-model='student.lastName' class="form-control" placeholder='Last Name'></p>	
				<p><input type="text" ng-model='student.email' class="form-control" placeholder='Email'></p>	
				<p><input type="text" ng-model='student.password' class="form-control" placeholder='Password'></p>	
				<p><input type="text" class="form-control" placeholder='Password Confirm'></p>	
				<button class="btn " ng-click='createStudent()'>Register Now!</button>
			</form>
		</div>
	</div>
</div>