<div class="container">	
	<div class="row" ng-controller='studentController'>
		<div id="login" class="col m5">
			<h3>Student Login</h3>
		    <form ng-submit='loginStudent(studentData)'>
		    	<div ng-if='error.message'><span ng-bind='error.message'></span></div>
		    	<div class="row">
		        	<div class="input-field col m10 ">
			          <input id="email" type="text" class="validate" ng-model='studentData.email'>
			          <label for="email">Email</label>
		        	</div>
		      	</div>
		      	<div class="row">
		        	<div class="input-field col m10">
			          <input id="password" type="password" class="validate" ng-model='studentData.password'>
			          <label for="password">Password</label>
		        	</div>
		      	</div>
		      	<button class="btn waves-effect waves-light #90a4ae blue-grey lighten-2" type="submit" name="action">Submit</button>
		    </form>
		</div>
		<div id="apply" class="col m6">
			<form>
				<h3>Register for Classes!</h3>
				<p><input type="text" ng-model='newStudent.firstName' placeholder='First Name'></p>	
				<p><input type="text" ng-model='newStudent.lastName' placeholder='Last Name'></p>	
				<p><input type="text" ng-model='newStudent.email' placeholder='Email'></p>	
				<p><input type="text" ng-model='newStudent.password' placeholder='Password'></p>	
				<p><input type="text" ng-model='newStudent.confirm' placeholder='Password Confrim'></p>	
				<button class="btn waves-effect apply_btn #90a4ae blue-grey lighten-2" ng-click='createStudent()'>Register Now!</button>
			</form>
		</div>
	</div>
</div>