<div class="container student">
	<div class="row">
		<h3 id="welcome" class="col l12 welcome">Welcome Student! </h3>
	</div>
	<div class="row">
		<div class="col l3">
			<img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAZwAAAAJDRhOGMxMWRjLWViYzctNDdkYy1hYTIyLWM0MDkwYmQ0MzYwZQ.jpg" alt="whoops!" class="circle z-depth-3">
		</div>
		<div class="col l8 offset-l1 grey lighten-4 z-depth-2">
			<h3 class="col l3">I like:</h3> 
			<ul class="col l9">
				<li>Frolicing in the Autumn mist</li>
				<li>Really really intense workouts</li>
				<li>The healthiest of eating</li>
				<li>Zumba because, I like to dance</li>
				<li>Crossfit because, I have no idea what I am doing</li>
				<li>Chasing seagulls, because it's fun huhuhuh</li>
				<li>picking ripe berries and bring them home for pa to eat</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div id="pastClass" class=" col l3 grey lighten-4 z-depth-2">
			<h4>Classes I've taken:</h4>
		</div>
		<div id="upcomingClass" class="col l8 z-depth-2">
			<h3>Class Schedule:</h3>
			<table class="striped">
				<thead>
					<tr>
						<th data-field>Instr.</th>
						<th data-field>Class</th>
						<th data-field>Date</th>
						<th data-field>Desc.</th>
						<th data-field>Class Size</th>
						<th data-field>Join Class</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="xclass in classes">
						<td>{{xclass.name}}</td>
						<td>{{xclass.type}}</td>
						<td class="date">{{xclass.date}}</td>
						<td>{{xclass.description}}</td>
						<td><button class="btn waves-effect waves-light orange lighten-1">{{xclass.size}}/20</button></td>
						<td><a href="#/stripe"><button class="btn waves-effect waves-light orange lighten-1">Pay</button></a></td>
						<td><a href="#/stripe"><button class="btn waves-effect waves-light orange lighten-1">GO!</button></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>