    <div ng-init="appInit()">
        <div id="fullpage"  class="boxCommon">
            <video id="box0" class="transit boxCommon thumbCommon"></video>
            <video id="box1" class="transit boxCommon thumbCommon easyRTCMirror" muted="muted" volume="0" ></video>

            <img id="killButton" class="transit boxCommon" onclick="killActiveBox()" src="static/images/video/button_close.png" style="display:none;z-index:3" alt="close button" />
            <img id="muteButton" class="transit boxCommon" onclick ="muteActiveBox()" src="static/images/video/button_mute.png" style="display:none;z-index:3" alt="mute button" />
            <img id="textEntryButton" class="transit boxCommon" onclick ="showTextEntry()" src="static/images/video/textEntry.png" style="z-index:3;display:none" alt="text button" />
        </div>
    </div>