<div class="col m12 info">
	<div class='info_white'>		
		<h2>ifARTchannels</h2>
		<h5>We connect to teachers to the classroom and not the other way around. Having an instructor watch you is just as important as watching the instructor. With channels, a teacher can see your progress and make personalized changes to your form and technique right there one the spot. Also, yadda yadda yadda....</h5>	
	</div>
</div>
<a href='#/students' class="waves-effect waves-light btn-large info_btn #90a4ae blue-grey lighten-2">Students</a>
<a href="#/instructor" class="waves-effect waves-light btn-large instr_btn #90a4ae blue-grey lighten-2">Instructors</a>