<div class="container">	
	<div class="row">
		<div id="login" class="col m5">
			<h3>Instructor Login</h3>
		    <form>
		      <div class="row">
		        <div class="input-field col m10">
		          <input id="email" type="email" class="validate">
		          <label for="email">Email</label>
		        </div>
		      </div>
		      <div class="row">
		        <div class="input-field col m10">
		          <input id="password" type="password" class="validate">
		          <label for="password">Password</label>
		        </div>
		      </div>
		      <button class="btn waves-effect waves-light #90a4ae blue-grey lighten-2" type="submit" name="action">Submit</button>
		    </form>
		</div>
		<div id="apply_instructor" class="col m6">
			<div id='apply_photo' class="col m9"></div>
			<h5 class="col m12">Want to become an ifArt instructor?</h5>
			<a href="#/apply"><button class="btn waves-effect apply_btn #90a4ae blue-grey lighten-2">Apply Now!</button></a>
		</div>
	</div>
</div>