<div class="container">	
	<div class="row">
		<div id="login" class="col m5">
			<h3>Student Login</h3>
		    <form>
		      <div class="row">
		        <div class="input-field col m10 ">
		          <input id="email" type="email" class="validate">
		          <label for="email">Email</label>
		        </div>
		      </div>
		      <div class="row">
		        <div class="input-field col m10">
		          <input id="password" type="password" class="validate">
		          <label for="password">Password</label>
		        </div>
		      </div>
		      <button class="btn waves-effect waves-light #90a4ae blue-grey lighten-2" type="submit" name="action">Submit</button>
		    </form>
		</div>
		<div id="apply" class="col m6">
			<form>
				<h3>Register for Classes!</h3>
				<p><input type="text" placeholder='First Name'></p>	
				<p><input type="text" placeholder='Last Name'></p>	
				<p><input type="text" placeholder='Email'></p>	
				<p><input type="text" placeholder='Password'></p>	
				<p><input type="text" placeholder='Password Confrim'></p>	
				<button class="btn waves-effect apply_btn #90a4ae blue-grey lighten-2">Register Now!</button>
			</form>
		</div>
	</div>
</div>