h3, h4{
		font-weight: lighter;
		font-style: italic;
	}
	#welcome{
		font-size: 55px;
	}
	.date{
		font-weight: normal;
	}
	#pastClass{
		margin-top: 20px;
	}
	#upcomingClass{
		margin-left: 60px;
		margin-top: 30px;
	}