*{
        font-weight: lighter;
    }
        #logo{
           margin-left: 30px; 
        }
        #itnessLogo{
            font-size: 11px;
            font-style: italic;
        }
        nav{
            margin-bottom: 30px;
        }